
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body  style="background-color:lavender">
    <div class="container">
        <div class="jumbotron" style="background-color:darkseagreen">
            <center><h3>Welcome to Happy Shopping</h3></center>
            </div>
        </div>

            <div>
                @Html.ActionLink("Service Page", "Service", "Services")
            </div>
            <div>
                @Html.ActionLink("Product Page", "Product", "Products")
            </div>
    <div class="container">
        
        <center><img src="~/Images/shop.jpg" class="img-rounded" alt="Cinque Terre" width="400" height="300"></center>
    </div>

</body>
</html>
